.container {
  padding: 10px;
  margin: auto;
  text-align: center;
  width: 33%;
  height: 30px;
  border-radius: 5px;
  font-size: large;
  vertical-align: middle;
}


.service-selector {
  text-decoration: none;
  padding: 10px;
  margin: auto;
  text-align: center;
  width: 50%;
  height: 30px;
  color: white;
  border-radius: 5px;
  font-size: large;
  line-height: 1.5;
  overflow: visible;
  vertical-align: -.125em;
  display: block;
  border: 1px outset hsla(2, 100%, 100%, 0.25);
}

.icon {
  position: relative;
  top: -25px;
  left: 20%;
}
