.login-status {
  padding: 10px;
  border: 1.5px solid #7289DA;
  margin: 0;
  width: 15%;
  text-align: center;
  display: inline-block;
  border-radius: 5px
}

.tos-box {
  padding: 10px;
  margin: 0;
  text-align: center;
  display: inline-block;
  border-radius: 25px;
}

.button {
  text-decoration: none;
  padding: 10px;
  margin: auto;
  text-align: center;
  width: 33%;
  height: 30px;
  border-radius: 5px;
  font-size: large;
  line-height: 1.5;
  transition: background-color 0.5s ease;
  overflow: visible;
  vertical-align: -.125em;
  border: 2px solid;
  display: block;
}

.isDisabled {
  pointer-events: none;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  overflow: visible;
  vertical-align: -.125em;
}

.container {
  padding-top: 2.5%;
  text-align: center;
}

