<div style="text-align: center">
  <h3 [style.color]="'#'+role.color">{{role.name}}</h3>
  <div class="row">
    <div class="col">
      <mat-checkbox [(ngModel)]="role.minecraftRegistered" [ngModelOptions]="{standalone: true}">Minecraft Registered</mat-checkbox>
    </div>
    <div class="spacing"></div>
    <div class="col">
      <mat-checkbox [(ngModel)]="role.steamRegistered"
                    [ngModelOptions]="{standalone: true}">Steam Registered</mat-checkbox>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-checkbox [(ngModel)]="role.patreonRegistered"
                    [ngModelOptions]="{standalone: true}">Patreon Registered</mat-checkbox>
    </div>
    <div class="spacing"></div>
    <div class="col">
      <mat-form-field class="form-input">
        <label>
          <input [(ngModel)]="role.patreonMinimum" matInput min="0" oninput="validity.valid||(value='');"
                 placeholder="Minimum Pledge" required type="number" value="{{role.patreonMinimum}}">
        </label>
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
    </div>
    <div class="spacing"></div>
    <div class="col">
      <mat-form-field class="form-input">
        <label>
          <input [(ngModel)]="role.patreonMaximum" matInput min="0" oninput="validity.valid||(value='');"
                 placeholder="Maximum Pledge" required type="number" value="{{role.patreonMaximum}}">
        </label>
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-checkbox [(ngModel)]="role.twitchRegistered"
                    [ngModelOptions]="{standalone: true}">Twitch Registered</mat-checkbox>
    </div>
    <div class="spacing"></div>
    <div class="col">
      <mat-checkbox [(ngModel)]="role.twitchFollow"
                    [ngModelOptions]="{standalone: true}">Twitch Followed</mat-checkbox>
    </div>
    <div class="spacing"></div>
    <div class="col">
      <mat-checkbox [(ngModel)]="role.twitchPrime"
                    [ngModelOptions]="{standalone: true}">Twitch Prime Sub</mat-checkbox>
    </div>
    <div class="spacing"></div>
    <div class="col">
      <mat-checkbox [(ngModel)]="role.twitch1000"
                    [ngModelOptions]="{standalone: true}">Twitch Tier 1 Sub ($5)</mat-checkbox>
    </div>
    <div class="spacing"></div>
    <div class="col">
      <mat-checkbox [(ngModel)]="role.twitch2000"
                    [ngModelOptions]="{standalone: true}">Twitch Tier 2 Sub ($10)</mat-checkbox>
    </div>
    <div class="spacing"></div>
    <div class="col">
      <mat-checkbox [(ngModel)]="role.twitch3000"
                    [ngModelOptions]="{standalone: true}">Twitch Tier 3 Sub ($25)</mat-checkbox>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-checkbox [(ngModel)]="role.mixerRegistered"
                    [ngModelOptions]="{standalone: true}">Mixer Registered</mat-checkbox>
    </div>
    <div class="spacing"></div>
    <div class="col">
      <mat-checkbox [(ngModel)]="role.mixerFollow"
                    [ngModelOptions]="{standalone: true}">Mixer Followed</mat-checkbox>
    </div>
    <div class="spacing"></div>
    <div class="col">
      <mat-checkbox [(ngModel)]="role.mixerSubscribe" [ngModelOptions]="{standalone: true}">Mixer Sub</mat-checkbox>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-checkbox [(ngModel)]="role.youtubeRegistered"
                    [ngModelOptions]="{standalone: true}">Youtube Registered</mat-checkbox>
    </div>
  </div>
  <div style="padding: 10px">
    <button (click)="onSubmit()" mat-raised-button color="primary">Update</button>
  </div>
</div>

