.login-status {
  padding: 10px;
  border: 1.5px solid green;
  margin: 0;
  width: 50%;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
}

img.resize {
  text-align: center;
  width: 32px;
  vertical-align: middle;
}

.login-container {
  padding-top: 2.5%;
  text-align: center;
}
