.container {
  padding-top: 2.5%;
  text-align: center;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* Remove default arrow */
  padding: 10px;
  width: 51.5%;
  border: 1.5px solid;
  border-radius: 5px;
}


