<form (ngSubmit)="onRegisterSubmit(serverForm)" [formGroup]="serverForm">
  <div class="form-group">
    <h3>Server Information</h3>
    <div class="row">
      <div class="col">
        <mat-form-field class="form-input">
          <input formControlName="name" matInput placeholder="Server Name" required value="{{server.name}}">
        </mat-form-field>
      </div>
      <div class="spacing"></div>
      <div class="col">
        <mat-form-field class="form-input">
          <input formControlName="ip" matInput placeholder="IP Address" required value="{{server.ip}}">
        </mat-form-field>
      </div>
      <div class="spacing"></div>
      <div class="col">
        <mat-form-field class="form-input">
          <input formControlName="port" matInput placeholder="RCON Port" required type="number" value="{{server.port}}">
        </mat-form-field>
      </div>
      <div class="spacing"></div>
      <div class="col">
        <mat-form-field class="form-input">
          <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput placeholder="RCON Password"
                 required value="{{server.password}}">
          <mat-icon (click)="hide = !hide" matSuffix>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-hint *ngIf="!passwordInput.value" class="md-hint">Minimum of 8 characters</mat-hint>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="form-group">
    <h3>Patreon</h3>
    <div class="row">
      <div class="col">
        <mat-checkbox formControlName="patreonAutosync">Auto-Sync</mat-checkbox>
      </div>
      <div class="spacing"></div>
      <div class="col">
        <mat-form-field class="form-input">
          <input [(ngModel)]="server.patreon['minimum']" formControlName="patreonMinimum" matInput
                 placeholder="Minimum Pledge" required type="number" value="{{server.patreon['minimum']}}">
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="form-group">
    <h3>Twitch</h3>
    <div class="row">
      <div class="col">
        <mat-checkbox formControlName="twitchAutosync">Auto-Sync</mat-checkbox>
      </div>
      <div class="spacing"></div>
      <div class="col">
        <mat-checkbox formControlName="twitchFollow">Followed</mat-checkbox>
      </div>
      <div class="spacing"></div>
      <div class="col">
        <mat-checkbox formControlName="twitchPrime">Prime Sub</mat-checkbox>
      </div>
      <div class="spacing"></div>
      <div class="col">
        <mat-checkbox formControlName="twitch1000">Tier 1 Sub ($5)</mat-checkbox>
      </div>
      <div class="spacing"></div>
      <div class="col">
        <mat-checkbox formControlName="twitch2000">Tier 2 Sub ($10)</mat-checkbox>
      </div>
      <div class="spacing"></div>
      <div class="col">
        <mat-checkbox formControlName="twitch3000">Tier 3 Sub ($25)</mat-checkbox>
      </div>
    </div>
  </div>
  <div class="form-group">
    <h3>Mixer</h3>
    <div class="row">
      <div class="col">
        <mat-checkbox formControlName="mixerAutosync">Auto-Sync</mat-checkbox>
      </div>
      <div class="spacing"></div>
      <div class="col">
        <mat-checkbox formControlName="mixerFollow">Followed</mat-checkbox>
      </div>
      <div class="spacing"></div>
      <div class="col">
        <mat-checkbox formControlName="mixerSubscribe">Subscribed</mat-checkbox>
      </div>
    </div>
  </div>
  <div class="form-group">
    <h3>Youtube</h3>
    <div class="row">
      <div class="col">
        <mat-checkbox formControlName="youtubeAutosync">Auto-Sync</mat-checkbox>
      </div>
      <div class="spacing"></div>
      <div class="col">
        <mat-checkbox formControlName="youtubeSubscribe">Subscribed</mat-checkbox>
      </div>
      <div class="spacing"></div>
      <div class="col">
        <mat-checkbox formControlName="youtubeMember">Member</mat-checkbox>
      </div>
    </div>
  </div>
  <div style="text-align: center; padding: 20px">
    <button [disabled]="serverForm.invalid" color="primary" mat-raised-button>Submit</button>
  </div>
</form>

