/* Application-wide Styles */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 0;
  background-color: #444444;
}

body, input[type="text"], button {
  color: #FFFFFF;
  font-family: Cambria, Georgia;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field-underline {
  background-color: white !important;
}

.mat-form-field-label {
  color: white !important;
}

.mat-checkbox .mat-checkbox-frame {
  border-color: white;
}

